.env
.venv
venv
.idea
__pycache__/
*.pyc
static/highlights_backgrounds/*
static/shelves_backgrounds/*
!static/shelves_backgrounds/.gitkeep
!static/highlights_backgrounds/.gitkeep
!static/highlights_backgrounds/bg1.jpg
!static/highlights_backgrounds/bg2.jpg
!static/highlights_backgrounds/bg3.jpg
!static/highlights_backgrounds/bg4.jpg
!static/highlights_backgrounds/bg5.jpg
*.DS_Store
.vscode/
certs/